header {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header #clock {
  font-size: 50px;
  text-align: center;
  color: #fff;
  text-shadow: 3px 3px 3px #000;
}

header #weather {
  color: white;
  font-size: 18px;
  text-shadow: 0px 0px 20px #000;
}

/*태블릿 크기*/
@media (max-width: 768px) {
  header {
    align-items: flex-end;
    position: absolute;
    top: -25px;
    right: 10px;
  }

  header #clock {
    font-size: 25px;
    text-shadow: 2px 2px 2px #000;
  }
}
