.login {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.login-form {
  width: 350px;
  border: none;
  border-radius: 15px;
  height: 50px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 2vh;
  letter-spacing: 1.5px;
}

.login-form::placeholder {
  color: darkgreen;
  font-size: 20px;
  text-align: center;
}

.login-form:focus {
  outline: none;
  color: rgb(61, 13, 13);
  font-size: 20px;
  text-align: center;
}

.login-submit {
  width: 70px;
  border: none;
  border-radius: 15px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  letter-spacing: 1.5px;
  transition: all 0.5s;
}

.sayhello {
  position: absolute;
  width: 50%;
}

.sayhello #greeting {
  font-size: 18px;
}

#retry {
  width: 70px;
  border: none;
  border-radius: 10px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  letter-spacing: 1.5px;
  transition: all 0.5s;
}
.login-submit:hover,
#retry:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/*태블릿 크기*/
@media (max-width: 768px) {
  .login {
    margin-top: 40px;
  }

  .login-form {
    width: 200px;
    letter-spacing: 0px;
  }

  .login-form::placeholder {
    font-size: 13px;
  }

  .login-form:focus {
    font-size: 13px;
  }

  .login-submit {
    width: 50px;
    border-radius: 10px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    letter-spacing: 1px;
  }

  .sayhello {
    position: absolute;
    top: 80px;
    width: 70%;
  }

  #retry {
    width: 65px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    letter-spacing: 1px;
  }
  .login-submit:hover,
  #retry:hover {
    transform: none;
  }
}
