.randomMenu {
  width: 100%;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
}

.randomMenu__btn {
  width: 120px;
  border: none;
  border-radius: 10px;
  height: 30px;
  color: white;
  background-color: rgb(61, 0, 0);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  font-size: 12px;
}

.randomMenu__btn:hover {
  cursor: pointer;
}

.randomMenu__txt {
  padding: 0px 0px 0px 10px;
  display: inline;
}

.randomMenu a {
  font-size: 14px;
  line-height: normal;
}
